.main-contact{
    display: flex;
    flex-flow: column;
    width: calc(100% - 30px);
    margin: 0 auto;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px;  
    
    border: 3px black solid;
}
.contact button{
    border: 1px black solid;
    width: 100%;
    margin-bottom:2px;
    background-color: rgb(194, 194, 194);
    text-align: center;
   
}
.contact img{
    width: 40px;
    height: 40px;
    padding: 10px;
}
.img-contact{
    display: flex;
    align-items: center;
}

