body{
  background-color:black;
  background-image: url("../edificio-fondo.jpg") ;
  background-position:cover;
  background-repeat: no-repeat;
}

.active{
    background: black;
}

  .topnav {
    overflow: hidden;
    background-color: black;
    
    position: fixed;
    text-align: center;
  }
  
  .topnav #myLinks {
    display: none;
    text-align: center;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
  }
  
  .topnav a:hover {
    background-color: grey;
    color: black;
  }
  
  .active {
    background-color: black;
    color: white;
  }