
.main-documentos{
    display: flex;
    flex-flow: column;
    overflow: scroll;
    padding: 15px;
    max-width: calc(100% - 30px);
    margin: 0 auto;
  

}
.documentos{
    margin-top: 25px;
    background-color: white;
    padding: 10px;
  
}