.perfil-inmueble{  
display: flex;
justify-content: space-between;
}


.colum-left{
width: 330px;
background-color: #8a9597;
padding: 20px;
box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
border-bottom: rgb(216, 216, 216) 3px solid;
border-radius: 3px;  
}

.colum-left p{
color: white;
text-align: center;
}

.colum-left h3{
color: orange;
text-align: center;
}

.colum-rigth {   
background-color: white;
padding: 20px;
margin-left: 10px;
width: 535px;
margin-right: 90px;
height: 870PX;
box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
border-bottom: orange 3px solid;
border-radius: 3px;
}
.main-datos {
  display: flex;
  background-color: white;
  height: 350px;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  justify-content: space-around;
  border-bottom: orange 3px solid;
  border-radius: 3px;
  width: calc(100% - 110px);
  margin-bottom: 25px;
}

.texto {
  width: 450px;
  padding: 30px;
}

.datos-inmuebles {
  text-align: left;
  margin-top: 75px;
}

.precios {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.venta {
  background-color: #e4e4e4;
  width: 200px;
  height: 100px;
  padding: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.valoracion {
  background-color: #e4e4e4;
  width: 200px;
  height: 100px;
  padding: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.img-home {
width: 330px;
}

.formulario {
font-size: 30px;
width: 300px;
margin-bottom: 10px;
position: relative;
}

.formulario span {
padding: 10px;
color: black;
}
.first-block span{
color: white;
}

label {
font-size: 16px;
position: absolute;
width: 100%;
margin: auto;
top: 20px;
}

.formulario input:focus {
width: 300px;
height: 100px;
transition: all linear 0.8s;
}

.formulario input:focus+label {
font-size: 12px;
transition: all 0.8s;
}

.formulario input {
width: 300px;
height: 20px;
padding: 15px;
outline: none;
border: none;
background: transparent;
border-bottom: rgba(255, 255, 255, 0.363) solid 3px;
font-size: 18px;
}

.formulario input:not(:placeholder-shown)+label {
font-size: 13px;
}

.formulario input:not(:placeholder-shown) {
width: 300px;
height: 40px;
padding: 40px 0 0 15px;
}

.formulario input:focus+label>span {
color: rgb(70, 70, 70);
}

.formulario textarea:focus {
width: 470px;
height: 400px;
transition: all linear 0.8s;
}

.formulario textarea:focus+label {
font-size: 18px;
transition: all 0.8s;
}

.formulario textarea {
width: 470px;
height: 40px;
padding: 15px;
outline: none;
border: none;
background: transparent;
border-bottom: rgb(199, 199, 199) solid 3px;
font-size: 18px;
font-family: "roboto";
}

.formulario textarea:not(:placeholder-shown)+label {
font-size: 13px;
}

.formulario textarea:not(:placeholder-shown) {
width:525px;
height: 190px;
padding: 50px 0 0 15px;
}

.formulario textarea:focus+label>span {
color: grey;
}

.bg-fotos{
height: 300px;
margin-top:80px;
}
      
.btn-imagenes{
width: 100%;
justify-content: center;
}

.btn-imagenes h2{
text-align: left ;
color:black ;
}

.fotos{
overflow:auto;
min-height: 150px;;
}

.card-scroller{
display: flex;
}

.card {
width: 200px;
min-width: 200px;
position: relative;
margin-right: 7px;
margin-bottom: 10px;
}

.card img{
border-radius: 10px;
padding: 5px;
}

.card:hover img{
border-radius: 10px;
transition: 00.5s;
filter: blur(5px);
width: 100px;
transition: 00.3s;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
position:absolute;
width: 100%;
margin:auto;
top: 60px;
text-align: center;
}

.container span {
text-align: center;
padding: 10px;
border-radius: 10px;
background-color: #725836ab;
}

.controls{
padding: 10px;
}

.botons.guardar{
display: none;
}

.botons {
box-shadow:inset 0px 1px 0px 0px #dcecfb;
background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
background-color:#bddbfa;
border-radius:6px;
border:1px solid #84bbf3;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:15px;
font-weight:bold;
text-decoration:none;
text-shadow:0px 1px 0px #528ecc;
width: 20%;
}

.botons:hover {
background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
background-color:#80b5ea;
}

.botons:active {
position:relative;
top:1px;
}
.first-block label {
  font-size: 13px;
}
.first-block .choices__inner {
  background-color: transparent;
  border: none;
  border-bottom: rgba(255, 255, 255, 0.363) solid 3px;
  padding-top: 50px;
  z-index: 100000000000;
}

.first-block .choices__list--single .choices__item {
  font-size: 18px;
}