.perfil-asesor{
	width: 770px;
	height: 600px;
	background-color: white;
	display: flex;
}
.img-perfil-asesor{
	width: 150px;
	padding:40px;
	margin-top:50px;
}
.form-perfil{
	margin-top: 25px;
}
.form-perfil h3{
	color: rgb(89, 89, 241);
}
.container{
	display: flex;
}
.documentacion-puntual{
	display: flex;
	justify-content: space-between;
	margin-left: 10px;
	margin-right: 10px;
}
.botons{
	margin-top: 20px;
	width: 20%;
	height: 10%;
}
.doc-punt{
	height: 245px;
	border: 5px solid #1C6EA4;
	margin-bottom: 20px;
	border-radius: 13px;
	width: 500px;
}
.botons {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.botons:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.botons:active {
	position:relative;
	top:1px;
}
