
ul {list-style-type: none;}

body{
  font-family: "roboto";
}

.main-citas{
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 black;
  margin-top: 20px;
}
.main-citas a{
  color:orange;
  font-size: 15px;
}
.main-citas li{
  color:white;

}

.citas-programadas {
  flex: 20%;
  background-color:grey;
  padding: 10px;
}
.text-programadas{
  font-size: 12px;
  text-align: left;
  border-radius: 10%;
  margin: 1px;
}
.citas-anuladas {
  flex: 20%;
  background-color:grey;
  padding: 10px;
}
.text-anuladas{
  font-size: 12px;
  text-align: left;
  border-radius: 10%;
  margin: 1px;
 }
.citas-realizadas {
  flex: 20%;
  background-color:grey;
  padding: 10px;
}
.text-realizadas{
  font-size: 12px;
  text-align: left;
  border-radius: 10%;
  margin: 1px;
 }
.main-gestion-citas{
  display: flex;
  position: relative;
  box-shadow: 0 4px 8px 0 black;;
  margin-top:50px;
  width: 30%;
}
.gestion-citas{
  background-color:grey;
  padding: 10px;
  width: 100%;
}
.text-gestion-citas{
  font-size: 12px;
  text-align: left;
  border-radius: 10%;
  margin: 20px;
 }
 .gestion-citas a{
  color:orange;
  font-size: 15px;
}

#foo .datepicker-picker {
  width: 100%;
  box-shadow: 0 4px 8px 0 black;
 
}
#foo .datepicker-picker span {
  border-radius: 0;
 
}
#foo .datepicker-grid {
  width: 50%;
}
#foo .datepicker-cell {
  background-color: #8a9597;
}
#foo .datepicker-cell.selected {
  background-color: #aca;
}


#foo span.datepicker-cell.day.next {
  visibility: hidden;
}
#foo .days-of-week span{
 color:orange;
 
}
#foo .days-of-week{
  background-color: black;
  width:50%;
}