ul {
    list-style-type: none;
}

body {
    font-family: "roboto";
}

hr {
    width: 60%;
}

.gestor-citas {
    display: flex;
    height: 345px;
}

.main-gestiones-calendar {
    width: 50%;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

.main-calendar {
    width: 50%;
}

.citas-programadas {
    border: 10px solid #437184;
    background: white;
    box-shadow: 0 4px 8px 0 black;
    color: black;
    font-size: 13px;
    border: 10px solid #437184;
    background: white;
    width: 90%;
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 black;
}

.text-programadas {
    font-size: 12px;
    margin-left: 25px;
}

.citas-anuladas {
    border: 10px solid #437184;
    background: white;
    box-shadow: 0 4px 8px 0 black;
    color: black;
    font-size: 13px;
    border: 10px solid #437184;
    background: white;
    width: 90%;
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 black;
}

.text-anuladas {
    font-size: 12px;
    border-radius: 10%;
    margin-left: 25px;
}

td.mid {
    vertical-align: middle;
}

.mid-center a {
    color: orange;
}

.mid-center a span {
    color: green;
}

.citas-realizadas {
    border: 10px solid #437184;
    background: white;
    box-shadow: 0 4px 8px 0 black;
    color: black;
    font-size: 13px;
    background: white;
    width: 90%;
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 black;
}

.text-realizadas {
    font-size: 12px;
    border-radius: 10%;
    margin-left: 25px;
}

#foo .datepicker-mai{
  
}
#foo .datepicker-picker {
    width: 100%;
    box-shadow: 0 4px 8px 0 black;
}

#foo .datepicker-picker span {
    border-radius: 0;
}

#foo .datepicker-grid {
    width: 100%;
    height: 280px;
}

#foo .datepicker-cell {
    background-color:transparent;
}

#foo .datepicker-cell.selected {
    background-color: orange;
}

#foo span.datepicker-cell.day.next {
    visibility: hidden;
}

#foo .days-of-week span {
    color: orange;
}

#foo .days-of-week {
    background-color: #437184;
    width: 100%;
}

#foo .datepicker-view .days .datepicker-cell,
.datepicker-view .dow {
    flex-basis: 13.286%;
}
#foo .datepicker-header .datepicker-controls .button {
    border-color: grey;
    font-weight: 700;
}
#foo  span{
    color:black;
}