
/* PAGINA DE INICIO */

@media (min-width: 200px) {
  #mobile {
    display: none;
  }
  #desktop {
    display: block;
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
  }
}
@media (max-width: 200px) {
  #mobile {
    display: block;
  }
  #desktop {
    display: none;
  }
}

body {
  font-family:"Roboto";
  margin: auto;
  min-height: 100vh;
  background: url("fondo-form.jpg" )
  ;
}

#menu {
  display: flex;
}
.tablink {
  background: grey;
  background: -moz-linear-gradient(top, #1C6EA4 0%, #4d83a7 48%, #144E75 100%);
  background: -webkit-linear-gradient(top, #1C6EA4 0%, #2388CB 48%, #144E75 100%);
  background: linear-gradient(to bottom, #173a52 0%, #2388CB 48%, #144E75 100%);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 50px;
  font-size: 18px;
  width: 100%;
  text-decoration: none;
  text-align: center;
}

.tablink:hover {
  background: grey;
  background: -moz-linear-gradient(top, ORANGE 0%, #a7794d 48%, #9e401b 100%);
  background: -webkit-linear-gradient(top, ORANGE 0%, #a7794d 48%, #9e401b 100%);
  background: linear-gradient(to bottom, ORANGE 0%, #a7794d 48%, #9e401b 100%);
}

/* Style the tab content */

.tabcontent {
  color: white;
  display: none;
  padding: 30px 0px;
 
 
}

.tabcontent.active {
  display: block;
}

#inicio {
  background-color: #1C6EA4;
  background-image: url("logo.png");
  background-size: 340px;
  background-repeat: no-repeat;
  width: 100%;
  background-position: 15px 10px;
  text-align: right;

}
.icono {
  background-image: url("casa.png");
  padding-left: 20px;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;

}
#inicio p {
  padding: 5px 20px;
}
#inicio h2 {
  padding: 0px 20px; 
}
#inmuebles {
  background-image: url("inmuebles.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  text-align: right;
}

#mis-documentos {background-image: url("pen-1743189_1921.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  text-align: right;
}
#alerta-asesor {background-image: url("asesor\ personal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  text-align: right;
}
#asesor-personal {background-image: url("alerta\ sesor.jpg");
                  background-size: cover;
                  background-repeat: no-repeat;
                  width: 100%;}



 /* contenedores pagina inicio */




/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 17px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */

.slidertext{
  color:black;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slider {
  height: 322px;
  width: 44%;
  background-color: white;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
  border-radius: 2%;
  margin: 0px;
  position: absolute;
  top: 180px;
  left: 37px;
 }



.main-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
  z-index:120;
}

.inmuebles {
  height: 322px;
  width: 20%;
  background-color: white;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
  border-radius: 5%;
  position: absolute;
  left: 700px;
  top: 180PX;
}
.text-inmuebles{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 10%;
  margin: 1px;
}
.calendario {
  height: 322px;
  width: 25%;
  background-color: white;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
  border-radius: 5%;
  position: absolute;
  top: 180PX;
  right:50px;
}
.text-calendario{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 10%;
  margin: 1px;
 }

.grafica{
    height: 250px;
    width:55%;
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
    border-radius: 2%;
    background-color: white;
    position: absolute;
    bottom: 50px;
    left: 35px;
}  
.grafica .textgraf{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 10%;
  margin: 1px;
}
.chat{
  height: 250px;
  width:33%;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
  border-radius: 2%;
  background-color: white;
  position: absolute;
  bottom: 50px;
  right:50px;
}
.chat .textchat {
    font-size: 12px;
    text-align: center;
    border-radius: 10%;
    margin: 1px;
}

}
.footer_contents {
  position: absolute;
  background-color:#1C6EA4;
  width: 100%;
  height: 100px;
  text-align: left;
  bottom: 0;
  position: absolute;
  margin:0 0 0 0;
  z-index: 100;
}
.footer_contents{
  margin: 10px;
}







/* menu lateral  paginas INMUEBLES,CARGAR INMUEBLES,ALQUILER,VENTA,MIS DOCUMENTOS*/





#cssmenu > ul {
  list-style: none;
  margin: 0;
  padding: 1%;
  vertical-align: baseline;

  z-index: 100;
  top: 7px;
}
/* The container */
#cssmenu > ul {
  display: block;
  position: relative;
  width: 150px;
  /* The list elements which contain the links */

}
#cssmenu > ul li {
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
/* General link styling */
#cssmenu > ul li a {
  /* Layout */

  display: block;
  position: relative;
  padding: 15px 20px;
  /* Typography */

  color: #d8d8d8;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #000;
  font-size: 13px;

  /* Background & effects */

  background: #282828;
}
/* Rounded corners for the first link of the menu/submenus */
#cssmenu > ul li:first-child > a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 0;
}
/* Rounded corners for the last link of the menu/submenus */
#cssmenu > ul li:last-child > a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 0;
}
/* The hover state of the menu/submenu links */
#cssmenu > ul li > a:hover,
#cssmenu > ul li:hover > a {
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  background: #54cdf1;
  background: -webkit-linear-gradient(#72d4f2, #54cdf1);
  background: -moz-linear-gradient(#72d4f2, #54cdf1);
  background: linear-gradient(#72d4f2, #54cdf1);
  border-color: transparent;
}
/* The arrow indicating a submenu */
#cssmenu > ul .has-sub > a::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 10px;
  width: 0px;
  height: 0px;
  /* Creating the arrow using borders */

  border: 4px solid transparent;
  border-left: 4px solid #d8d8d8;
}
/* The same arrow, but with a darker color, to create the shadow effect */
#cssmenu > ul .has-sub > a::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 10px;
  width: 0px;
  height: 0px;
  /* Creating the arrow using borders */

  border: 4px solid transparent;
  border-left: 4px solid #000;
}
/* Changing the color of the arrow on hover */
#cssmenu > ul li > a:hover::after,
#cssmenu > ul li:hover > a::after {
  border-left: 4px solid #ffffff;
}
#cssmenu > ul li > a:hover::before,
#cssmenu > ul li:hover > a::before {
  border-left: 4px solid rgba(0, 0, 0, 0.3);
}
/* THE SUBMENUS */
#cssmenu > ul ul {
  position: absolute;
  left: 100%;
  top: -9999px;
  padding-left: 5px;
  opacity: 0;
  width: 140px;
  /* The fade effect, created using an opacity transition */

  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
/* Showing the submenu when the user is hovering the parent link */
#cssmenu > ul li:hover > ul {
  top: 0px;
  opacity: 1;
}



 /* Pagina CARGAR INMUEBLES */



#cargar-imagenes{
  display: flex;
}
.cargar-imagenes{
  background: grey;
  background: -moz-linear-gradient(top, #1C6EA4 0%, #4d83a7 48%, #144E75 100%);
  background: -webkit-linear-gradient(top, #1C6EA4 0%, #2388CB 48%, #144E75 100%);
  background: linear-gradient(to bottom, #173a52 0%, #2388CB 48%, #144E75 100%);
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
  width: 30%;
  text-decoration: none;
  top: 220px;
  right:180px;
  position: absolute;
  border-radius: 5px;
  
}
.cargar-imagenes .text{
   text-align: left;
   border-radius: 10%;
   margin: 1px;
   padding: 10px;

  }

.descripci贸n-inmueble-m2{
  text-align: center;
  padding: 10px;
}
}
#descripci贸n-inmueble{
  display: flex;
}
.descripci贸n-inmueble{

  background: grey;
  background: -moz-linear-gradient(top, #1C6EA4 0%, #4d83a7 48%, #144E75 100%);
  background: -webkit-linear-gradient(top, #1C6EA4 0%, #2388CB 48%, #144E75 100%);
  background: linear-gradient(to bottom, #173a52 0%, #2388CB 48%, #144E75 100%);
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  width: 33%;
  height: auto;
  text-decoration: none;
  left: 212px;
  position: absolute;
  border-radius: 5px;
  bottom: 143px;
  padding: 6px 12px 20px 12px;
  text-align: center;
}

.Descripci贸n{
  ;
}


/* Pagina Inmuebles */

.preimagen-casa {
  height: 250px;
  width: 20%;
  background-color: white;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
  border-radius: 5%;
  position: absolute;
  left: 200px;
  top: 180PX;
}
.text-preimagen{
  font-size: 12px;
  text-align: left;
  position: absolute;
  top: 120px;
  left: 19px;
}
.preimagen-casa2 {
  height: 250px;
  width: 20%;
  background-color: white;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
  border-radius: 5%;
  position: absolute;
  left: 500px;
  top: 180PX;
}
.text-preimagen2{
  font-size: 12px;
  text-align: left;
  position: absolute;
  top: 120px;
  left: 19px;
}
.preimagen-casa3 {
  height: 250px;
  width: 20%;
  background-color: white;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
  border-radius: 5%;
  position: absolute;
  right: 340px;
  top: 180PX;
}
.text-preimagen3{
  font-size: 12px;
  text-align: left;
  position: absolute;
  top: 120px;
  left: 19px;
}
.preimagen-casa4 {
  height: 250px;
  width: 20%;
  background-color: white;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
  border-radius: 5%;
  position: absolute;
  right: 40px;
  top: 180PX;
}
.text-preimagen4{
  font-size: 12px;
  text-align: left;
  position: absolute;
  top: 120px;
  left: 19px;
}