@media (min-width: 200px) {
  #mobile {
    display: none;
  }
  #desktop {
    display: block;
  }
}
@media (max-width: 200px) {
  #mobile {
    display: block;
  }
  #desktop {
    display: none;
  }
}

body {font-family: "Calibri";
       margin: auto;}

#menu {
  display: flex;
}
.tablink {
  background: grey;
  background: -moz-linear-gradient(top, #1C6EA4 0%, #4d83a7 48%, #144E75 100%);
  background: -webkit-linear-gradient(top, #1C6EA4 0%, #2388CB 48%, #144E75 100%);
  background: linear-gradient(to bottom, #173a52 0%, #2388CB 48%, #144E75 100%);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 50px;
  font-size: 18px;
  width: 100%;
  text-decoration: none;
  text-align: center;
}

.tablink:hover {
  background-color: red;
}

/* Style the tab content */

.tabcontent {
  color: white;
  display: none;
  padding: 14px 0px ;
 
}

.tabcontent.active {
  display: block;
}

#inicio {
  background-color: #1C6EA4;
  background-image: url("logo.png");
  background-size: 340px;
  background-repeat: no-repeat;
  width: 100%;
  background-position: 15px 10px;
  text-align: right;
}
#inmuebles {background-image: url("inmuebles.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  text-align: right;
}
#mis-documentos {background-image: url("pen-1743189_1921.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  text-align: right;
}
#alerta-asesor {background-image: url("asesor\ personal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  text-align: right;
}
#asesor-personal {background-image: url("alerta\ sesor.jpg");
                  background-size: cover;
                  background-repeat: no-repeat;
                  width: 100%;}



 /* para abajo cssde las cajas */




.main-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
}

.main {
  height: 300px;
  width:30%;
  background-color: white;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
  border-radius: 5%;
  margin: 10px;
 }

.main2 {
  height:120px;
  width:13%;
  background-color: white;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
  border-radius: 5%;
  margin: 10px;
    }
.main3 {
  height: 300px;
  width:13%;
  background-color: white;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
  border-radius: 5%;
  margin: 10px;
    }

.main4 {
  height: 300px;
  width:25%;
  background-color: white;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
  border-radius: 5%;
  margin: 10px;
    }

.container-grafica-chat{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.grafica{
  height: 200px;
  width:50%;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
  border-radius: 5%;
  margin: 10px;
  padding: 0 0 0 0;
   }
.grafica .textgraf{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 10%;
  margin: 1px;
 }

.main .text{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 10%;
  margin: 1px;
        
    }
.main2 .text2{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 10%;
  margin: 1px;
    }
.main3 .text3{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 10%;
  margin: 1px;
    }
.main4 .text4{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 10%;
  margin: 1px;
 }
.container-chat{ 
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
}
.chat{
  height: 200px;
  width:25%;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
  border-radius: 5%;
  margin:50px;
}
.chat .textchat {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 10%;
  margin: 1px;
}