.botons {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    width: 150px;
    height: 20px;
    margin-top: 15px;
}
.botons:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.botons:active {
	position:relative;
	top:1px;
}

.main-documentos{
    display: flex;
    flex-flow: column;
    
}
.documentos-descarga{
    display: flex;
    flex-flow: wrap;
    background-color: white;
    width: 100%;
    max-width: 750px;
    height: 300px;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.documentos-descarga-2{
    display: flex;
    background-color: white;
    width: 100%;
    max-width: 750px;
    height: 300px;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-top: 15px;
}

.documentos-descarga h3{
    color: blue;
}
.documentos-descarga-2 h3{
    color: blue;
}

.text-documentos{
    width: 800px;
    height: 350px;

}
.fila-documento{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.fila-documento-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


