.row {
    display: flex;
}

.side {
    width: 250px;
    padding: 20px;
    height: 100%;
    margin-top: 20px;
    background: #777;
    border-radius: 5px;
    border: 5px ridge #000000;
    -webkit-box-shadow: 0px 0px 10px 0px #000000; 
    box-shadow: 0px 0px 10px 0px #000000;
}

.main-perfil {
    width: calc(100% - 290px);

}
.fakeimg-perfil img {
    display: block;
    margin: 0 auto;
}

.card-wrapper{
    width: 24%;
    padding: 10px;
   
  }
  .card-wrapper img{
    margin-top: 8px;
    border-radius: 5px;
  }
  
  .card-wrapper button{
    background-color:#6d7677;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
  }
  
  .card-wrapper h4, p{
    color: white;
  }
  .card-wrapper p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: italic;
    width: 290px;
  }
  .card-wrapper h3{
    color: orange;
  
  }
  
  .card-wrapper button:hover {
    box-shadow: 0px 0px 16px 0 rgba(255, 166, 0, 0.616);
  }
  
  .container {
    padding: 2px 16px;
    width: 90%;
    
  }
  .main-up-inmuebles {
    font-size: 20px;
    padding: 20px;
    display: flex;
    font-family: "roboto ";
  }
  .card-wrapper button a:active{
    text-decoration: none;
  }
  .card-wrapper button a:link{
    text-decoration: none;
  }
  .card-wrapper button a:visited{
    text-decoration: none;
  }


