.perfil-inmueble{
    width: calc(100% - 15px);
    padding: 15px;
    background: #777;
    border-radius: 5px;
    border: 2px solid rgb(185, 185, 185);
}
.perfil-inmueble h2{
    color: orange;
    text-align: left;
}
.perfil-inmueble h3{
    color: rgb(56, 56, 56);
}
.fila{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.inmueble .choices__inner{
    width: 250px !important;
    min-height: 25px !important;
}
.localizacion .fila{
    width: 100%;
}
.caracteristicas .fila{
   width: 100%;
   height: 100px;
}
