/* Primer contenedor */
.box{
    display: flex;
    width: calc(100% - 15px);
    padding-bottom: 10px;
}
.resumen-inmueble{
    width: calc(100% - 435px);
    padding: 10px;
    background: #777;
    border-radius: 5px;
    border: 5px ridge #000000;
    -webkit-box-shadow: 0px 0px 10px 0px #000000; 
    box-shadow: 0px 0px 10px 0px #000000;
}
.resumen-inmueble h3{
    color: orange;
}
.derecha{
    display: flex;
}
.info{
    width: 100%;
}
.info .fila-res > div{
    height: 20px;
    padding: 10px;
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}
.izquierda{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-left:50px;
}
.precio{
    width: calc(100% - 15px);
    padding: 15px;
    background: #777;
    border-radius: 15px;
    border: 5px ridge #000000;
    font-size: 28px;
    text-align: center;
    text-shadow: 0px 0px 6px #000000;
    color: white;
    -webkit-box-shadow: 0px 0px 10px 0px #000000; 
    box-shadow: 0px 0px 10px 0px #000000;
   
}
.precio p{
    font-size: 14px;
    font-style: bold;
    color: orange;
    text-align: center;

}
.recomendado{
    width: calc(100% - 15px);
    padding: 15px;
    background: #777;
    border-radius: 15px;
    border: 5px ridge #000000;
    font-size: 28px;
    text-align: center;
    color: white;
    -webkit-box-shadow: 0px 0px 10px 0px #000000; 
    box-shadow: 0px 0px 10px 0px #000000;
    text-shadow: 0px 0px 6px #000000;
}
.recomendado p{
    font-size: 14px;
    font-style: bold;
    color: orange;
    text-align: center;
}

/* segundo contenedor */

.perfil-inmueble{
    width: calc(100% - 35px);
    padding: 15px;
    background: #777;
    border-radius: 5px;
    border: 5px ridge #000000;
    -webkit-box-shadow: 0px 0px 10px 0px #000000; 
    box-shadow: 0px 0px 10px 0px #000000;
    margin-bottom: 25px;
}
.perfil-inmueble h2{
    color: orange;
    text-align: left;
}
.perfil-inmueble h3{
    color: rgb(56, 56, 56);
}
.fila{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    
}
.fila > div {
    width: 23%;
    height: 50px;
    padding: 1%;
  
}

.fila > div label{
    display: block;
}
.fila > div input{
    width: 100%;
    height: 35px;
}
#valor{
    display: flex;
}
.inmueble{
    width: 100%;
}
.inmueble .choices__inner{
    width: calc(100% - 17px)!important;
    min-height: 25px !important;
}
.localizacion{
    width: 100%;
   
}
.localizacion .fila .direccion{
    width: 48%;
}
.localizacion .fila .choices__inner{
    width: calc(100% - 17px)!important;
    min-height: 25px !important;
}
.superficie{
    width: 100%;
}
.superficie .fila > div{
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.divisiones{
    width: 100%;
}
.divisiones .fila > div{
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.descripcion{
   width: 100%;
}
.descripcion .fila textarea{
    width: 100%;
    height: 150px;
    
}
.caracteristicas{
    width: 100%;
}
.caracteristicas .fila > div input {
    width: 40px;
    height: 0px;
}
.fotos {
    width: calc(100% - 0px);
    display: flex;
}
.bg-fotos h2{
    color: orange;
    text-align: left;
}
.card-scroller{
    width:100%;
    height: 250px;
    display: flex;
    overflow: scroll;
}
.card{
    width: 50%;
    height: 150px;
    padding: 10px;
    margin-left: 15px;
    background-color: #434b4d;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
}
.card img{
    margin-top: 8px;
    border-radius: 5px;
}
.card p{
    color: white;
    font-style: italic
}
  
/* contrastar con mario si esto va a ser util o una puta mierda */

.slider {
	width: 100%;
	overflow: hidden;
    
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 15s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

