.perfil{
  display: flex;
  width: 100%;
}
.img-perfil{
  width: 150px;
  height: 150px;
  padding: 100px 10px 0px 15px;
  }
.text-perfil{
  width: 10px;
  height: 10px;
}
.form-perfil{
  width: 80%;
  height: 370px;
  margin-top: 35px;
}

.descripcion-usuario{
    display: flex;
    color: black;
    font-size: 13px;
    border: 10px solid #437184;
    background: white;
    height: 400px;
    width: 70%;
    border-radius: 1%;
}
.linea-formulario-perfil {
  display: flex;
  justify-content: left;
}

.enviar {
  text-align: left;
  margin-top: 5px;
}

.descripcion-usuario input, .descripcion-usuario select, .descripcion-usuario button {
  width: 172px;
  margin: 5px;
  padding: 5px;
}
.quinta-linea{
  display: flex;
  justify-content: space-between;

}
.quinta-linea input {
  width: 80px;
}
.quinta-linea select{
  width: 80px;
  
}
