.row {  
  display: flex;
}


.side {
  width: 250px;
  background-color:#8a9597;
  padding: 20px;
  box-shadow: 0 4px 8px 0 black;
  height: 100%;
  margin-top: 20px;
}

.main-perfil{   
  width: calc(100% - 310px);
  max-width: 700px;
  padding: 20px;
}
.main-datos{
  display: flex;
  background-color: white;
  height: 350px;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  justify-content: space-around;

}
.texto{
  width: 450px;
  
}
.datos-inmuebles{
  text-align: left;
  margin-top: 75px;
}
.precios{
 display: flex;
 flex-flow: column;
 justify-content: space-around;
}
.venta{
  background-color: #e4e4e4;
  width: 200px;
  height: 100px;
  padding: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  text-align: center;
}
.valoracion{
  background-color: #e4e4e4;
  width: 200px;
  height: 100px;
  padding: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  text-align: center;
}

.fakeimg-perfil {
 margin-left:25px; 
}


.seccion-formulario input[readonly]{
  color: black;
  border:none;
}

.descripcion{
  display: flex;
  flex-flow: column;
  margin-top:10px;
  background-color: white;
  height: 300px;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}
.superficie{
  display: flex;
  flex-flow: column;
  margin-top:10px;
  background-color: white;
  height: 200px;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.localizacion{
  display: flex;
  flex-flow: column;
  margin-top:10px;
  background-color: white;;
  height: 400px;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}
.caracteristicas-equipamiento{
  display: flex;
  flex-flow: column;
  margin-top:10px;
  background-color: white;
  height: 280px;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.pos-btn{
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 25px;
  padding: 10px;
  border-bottom: black 1px solid;
}
.style-input{

}
.primer-bloque{
  margin-top: 15px;
  margin-left: 50px;
  padding: 15px;
}
.segundo-bloque{
  margin-top: 15px;
  margin-left: 50px;
  padding: 15px;
}
.tercer-bloque{
  margin-top: 15px;
  margin-left: 50px;
  padding: 15px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 15%;
  background:none;
  margin-left: 10px;
  margin-right: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.controls{
  padding: 10px;
}

.container {
  padding: 2px ;
  text-align: center;
}
.bg-fotos{
  height: 300px;
  margin-top:80px;
}
.fotos{
 display: flex;
 justify-content: space-between;
}
.btn-imagenes{
  width: 100%;
  justify-content: center;
}
.botons.guardar{
  display: none;
}

.botons {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
  width: 20%;
}
.botons:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.botons:active {
	position:relative;
	top:1px;
}

        
