.perfil-inmueble{
    width: calc(100% - 15px);
    height: 1210px;
    padding: 15px;
    background: #777;
    border-radius: 5px;
    border: 2px solid rgb(185, 185, 185);
}
.perfil-inmueble h2{
    color: orange;
    text-align: left;
}
.perfil-inmueble h3{
    color: rgb(56, 56, 56);
}
.fila{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    text-align: left;
    
}
.fila > div {
    width: 250px;
    height: 50px;
    padding: 10px;
}
.inmueble .choices__inner{
    width: 250px !important;
    min-height: 25px !important;
}
.localizacion{
    width: 100%;
    height: 245px;
}
.localizacion .fila .direccion{
    width: 515px;
}
.localizacion .fila .direccion input{
    flex-grow: 2;
    width: 415px;
}
.localizacion .fila .choices__inner{
    width: 150px !important;
    min-height: 25px !important;
}
.descripcion{
   width: 100%;
   margin-bottom: 120px;
}
.descripcion .fila textarea{
    width: 1100px;
    height: 150px;
}

.caracteristicas .fila{
   width: 100%;
   height: 140;
}
