.row {  
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}


.side {
  flex: 20%;
  background-color:#8a9597;
  padding: 20px;
  box-shadow: 0 4px 8px 0 black;
}


.main-perfil{   
  flex: 50%;
  background-color: white;
  padding: 20px;
}


.fakeimg {
 
  width: 95%;
  padding: 10px;

}


@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}


@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}