
.main-container{
display: inline;
align-items: center;
width: 100%;
margin-top: 30px;
}
.nota-simple {
display: flex;
height: 150px;
width: 40%;
background-color: white;
box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
border-radius: 2%;  
margin-bottom: 10px;
}
.text-nota-simple{
font-size: 12px;
border-radius: 10%;
margin:20px;
text-align: center;
}
.certificado {
  display: flex;
  height: 150px;
  width: 40%;
  background-color: white;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
  border-radius: 2%;  
  margin-bottom: 10px;
}
.text-certificado{
font-size: 12px;
border-radius: 10%;
margin:20px;
text-align: center;
}
.fotografia{
  display: flex;
  height: 200px;
  width: 40%;
  background-color: white;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
  border-radius: 2%;  
  margin-bottom: 10px;  
}  
.text-foto{
font-size: 12px;
border-radius: 10%;
margin:20px;
text-align: center;
}
.chat{
display: flex;
justify-content: space-between;
height: 322px;
width:40%;
box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
border-radius: 2%;
background-color: white;  
}
.chat .textchat {
font-size: 12px;
border-radius: 10%;
margin:20px;
text-align: center;
}

  
  