
.main-container{
width: 100%;

} 
.main-container p{
text-align: center;
}
.main-container h2{
color: black;
text-align: left;  
}
.gestiones{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}
.gestiones h2{
  color: black;
  text-align: center;
}
.gestiones button{
  background-color: white;
}
.notario{
padding: 10px;
background-color: white;
width: 250px;
border-bottom: 5px solid #0099ff;
border-radius: 6px;
text-align: center;
}
.notario img{
width: 30%;
padding: 10px;
margin-top: 10px;
}
.certificado-energetico{
padding: 10px;
background-color: white;
width: 250px;
border-bottom: 5px solid #ff0000;
border-radius: 6px;
text-align: center;
}
.certificado-energetico img{
width: 30%;
padding: 10px;
margin-top: 10px;    
}
.nota-simple{
padding: 10px;
background-color: white;
width: 210px;
border-bottom: 5px solid #0099ff;
border-radius: 6px;
text-align: center;
}
.nota-simple img{
width: 40%;
padding: 10px;
margin-top: 10px;
}
.reportaje-fotografico{
padding: 10px;
background-color: white;
width: 250px;
border-bottom: 5px solid #ff7b00;
border-radius: 6px;
text-align: center;
}
.reportaje-fotografico img{
width: 34%;
padding: 10px;   
}  
.main-container-sub p{
text-align: center;
}
.main-container-sub h2{
color: black;
text-align: left;
margin-top: 75px;
}
.estadisticas-sub{
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;
}
  
.tipos-precio{
display: flex;
flex-flow: column;
justify-content: space-between;
align-items: center;
height: 350px;
}
.precio-medio{
padding: 10px;
background-color: white; 
width: 450px;
border-bottom: 5px solid #ffa600;
border-radius: 6px;
text-align: center;
}
.precio-medio img{
width: 400px;
padding: 10px;
margin-top: 10px;
}
.precio-venta{
padding: 10px;
background-color: white; 
width: 300px;
border-bottom: 5px solid green;
border-radius: 6px;
text-align: center;
}
.precio-recomendado{
padding: 10px;
background-color: white; 
width: 300px;
border-bottom: 5px solid green;
border-radius: 6px;
text-align: center;
}
    
   

  
  