.header{
    position: fixed;
    top: 0px;
    right: 0px;
    width: calc(100% - 240px);
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
    z-index: 100;
    }
    body {
    font-family: "realwey"!important;
    margin: auto;
    background: #ebedf0;
    user-select: none;
    }
      
    h2{
    text-align: center; 
    color:white;
    }
    .menu span{
    color:white;
    }
    
    .logo{
    width: 200px;
    height: 75px;
    background-image: url(logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    cursor: pointer;
    }
    
    .header .right {
    display: flex;
    margin-top: 25px;
    margin-right: 25px;
    justify-content: space-between;
    width: 220px;
    }
    #usuario{
    display: block;
    }
    #usuario img{
    width: 50px;
    }
    #alertas{
    display: block;
    }
    #alertas img{
    width: 30px; 
    margin-top:10px;
    }
    .mensajes-wrapper.unread {
        position: relative;
    }
    .mensajes-wrapper.unread::after {
        position: absolute;
        top: 10px;
        right: -5px;
        width: 10px;
        height: 10px;
        display: block;
        background-color: red;
        border-radius: 100%;
        content: "";
    }
    #mensajes{
    display: block;
    }
    #mensajes img{
    width: 30px;
    margin-top:10px;
    }
    
    #alerta-asesor{
    display: block;
    }
    #alerta-asesor img{
    margin-top:10px;
    width: 30px;
    }
    
    .menu {
    padding: 20px;
    padding-top: 20px;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color:  #323a48;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.77);
    font-family: "roboto";
    }
    
    .menu a, .dropdown-btn, .menu span {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    }
    
    /* On mouse-over */
    .menu a:hover, .dropdown-btn:hover {
    color: orange;
    }
    .menu a i{
        padding-right: 10px;
        min-width: 20px;
    }
    
    /* Main content */
    .main {
    margin-top: 100px;
    margin-left: 245px;
    padding: 20px;
    font-family: "roboto";
    }
    
    /* Add an active class to the active dropdown button */
    .dropdown-btn.active {
    background-color: grey;
    color: white;
    }
    
    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
    display: none;
    background-color: #262626;

    }
  
    /* Optional: Style the caret down icon */
    .btn {
    float: right;
    padding-right: 8px;
    }
    .main .dataTable-sorter{
        display: flex;
        align-items: center;
    }

    .header .usuario {
        position: relative;
    }
    .header .usuario a {
        cursor: pointer;
    }
    .header .usuario .cerrar-sesion {
        display: none;
        position: absolute;
        top: 50px;;
        right: 0;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        width: 150px;
        user-select: none;
    }
    .header .usuario .cerrar-sesion.show {
        display: block;
    }
    .header .usuario .cerrar-sesion ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .header .usuario .cerrar-sesion ul li {
        list-style: none;
    }
    .header .usuario .cerrar-sesion ul li:hover {
        background-color: #ccc;
        cursor: pointer;
    }
    .header .usuario .cerrar-sesion ul li a {
        color: #000;
        text-decoration: none;
        padding: 5px;
        display: block;
    }

    #wpadminbar { display:none !important;}