.agregar-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}


.card-agregar{
  width: 255px;
  max-width: 255px;
  margin-top:10px;
 
  
}
.agregar-wrapper h2{
  color: Orange;
}
.img-agregar{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.card-agregar button{
  background-color: #434b4d;
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
}

.card-agregar h4, p{
  color: white;
}
.card-agregar p{
  font-style: italic
}
.card-agregar h3{
  color: orange;

}

.card-agregar button:hover {
  box-shadow: 0px 0px 16px 0 rgba(255, 166, 0, 0.616);
}

.card-wrapper{
  width: 24%;
  padding: 10px;
 
}
.card-wrapper img{
  margin-top: 8px;
  border-radius: 5px;
}

.card-wrapper button{
  background-color: #434b4d;
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
}

.card-wrapper h4, p{
  color: white;
}
.card-wrapper p{
  font-style: italic
}
.card-wrapper h3{
  color: orange;

}

.card-wrapper button:hover {
  box-shadow: 0px 0px 16px 0 rgba(255, 166, 0, 0.616);
}
.card-agregar button a:active{
  text-decoration: none;
}
.card-agregar button a:link{
  text-decoration: none;
}
.card-agregar button a:visited{
  text-decoration: none;
}




.default{
  font-family: Raleway,sans-serif;
  font-size: 16px;
  text-align: justify;
  line-height: 35px;
  
  }
  th{
    background-color: orange;
    border-radius: 5px;
  }
  .default th{
      width:500px;
      height: 40px;
      text-align: center;
  }
  
  .default td{
      text-align: center;
  }
  .alerta-asesor id{
    color:orange;
  }
  .style-box{
    background-color: white;
    height: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 black;
    border-bottom: 4px solid orange;
    border-radius:0px 0px 5px 5px;
    
  }
  .style-box i {
    color: grey;
  }
  
 

    