.main-container{  
    display: inline;
    
    }
    
    .main-container p{
      text-align: center;
    }
    .main-container h2{
      color: black;
      text-align: left;
      
    }
    
    .default{
      font-family: Raleway,sans-serif;
      font-size: 16px;
      text-align: justify;
      line-height: 35px;
      }
      .style-box h2{
        color: black;
        text-align: left;
      }
  
      th{
        background-color: orange;
        border-radius: 5px;
      }
      .default th{
          width:500px;
          height: 40px;
          text-align: center;
      }
      
      .default td{
          text-align: center;
      }
      .alerta-asesor id{
        color:orange;
      }
      .style-box{
        background-color: white;
        height: auto;
        padding: 20px;
        box-shadow: 0 4px 8px 0 black;
        border-bottom: 4px solid orange;
        border-radius:0px 0px 5px 5px;
        
      }

.index-sub{
  display: flex;
  width: 1000px;
  height: 500px;
  justify-content: space;
}
.Documentos-recibidos{
  margin-top: 50px;
  width: 350px;
  height: 150px;
  display: flex;
  background-color: white;
  box-shadow: 0 4px 8px 0 black;
  border-bottom: 4px solid blue;
  border-radius:0px 0px 5px 5px;
}
.img-doc{
  margin-top: 20px;
  width: 70px;
  height: 70px;
  justify-content: center;
  padding: 25px;
  display: flex;
}
.text-doc h2{
  margin-top:40px;
  position: center;
  color: black;
  
}
      
      